# overrides for top-level config
[*.cs]
indent_style=space
indent_size = 2
insert_final_newline=true
csharp_new_line_before_open_brace=properties,types

# CA1416: Validate platform compatibility
dotnet_diagnostic.CA1416.severity = none
# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity=none
# S3358: Ternary operators should not be nested
dotnet_diagnostic.S3358.severity = none
